<?xml version="1.0"?>
<!-- 
    Remarque : au lieu d'éditer manuellement ce fichier, vous pouvez utiliser
    l'outil d'administration Web pour configurer les paramètres de votre
    application. Utilisez l'option Site Web->Configuration Asp.Net de Visual
     Studio.
    Vous trouverez la liste complète des paramètres et commentaires dans 
    machine.config.comments, situé généralement dans 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Définissez compilation debug="true" pour insérer des symboles 
            de débogage dans la page compilée. Comme ceci 
            affecte les performances, définissez cette valeur à true uniquement 
            lors du développement.
        -->
    <compilation debug="true"/>
    <!--
            La section <authentication> permet la configuration 
            du mode d'authentification de sécurité utilisé par 
            ASP.NET pour identifier un utilisateur entrant. 
        -->
    <authentication mode="Windows"/>
    <!--
            La section <customErrors> permet de configurer 
            les actions à exécuter si/quand une erreur non gérée se produit 
            lors de l'exécution d'une demande. Plus précisément, 
            elle permet aux développeurs de configurer les pages d'erreur html 
            pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
</configuration>
